<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

</head>

<body>
    <%- include ("../partials/header") %>

        <main>
            <h1 class="main-title">
                MEMBERSHIP <%= membership.name.toUpperCase() %>
            </h1>
            <br><br>
            
            <div class="container">
                <div class="container-img">
                    <img class="img" src="/imgs/memberships/<%= membership.img %>" alt=" ">
                </div>




                <div class="container-detalle">
                    <h2>Included Services</h2>  



                    <% for (let i=0; i <=membership.service.length; i++) { %>
                       
                        
                        <li>
                            <%= membership.service.length %>
                        </li>
                        
                        <% } %>

                        <div class="container-detalle2">
                            <h2>
                                <%= membership.details %>
                            </h2>
                            <br><br><br>    
                        <a href="/carrito/<%=membership.name%> "> <button class="btn">  I want to be a member </button> </a>
                        
                </div>
            </div>

            

            </div>
            
        </main>
        <%- include ("../partials/footer") %>




</html>