<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    
</head>

<body>
    <%- include ("../partials/header") %>

        <main>
          <br><br>
            <h1 class="title">Memberships</h1>
            <br>
            <br>
            <br>
            
            <section>

                <div class="products-container">
                    <% memberships.forEach(function(memberships){ %>
             
                        <div class="product-card">
                          <img class="imgmember" src="imgs/memberships/<%= memberships.img%>" />
                          <div class="product-info">
                            <p class="product-precio"> <%= memberships.price %></p>
                            <p class="product-name"> <%= memberships.name %></p>
                            <a href="/memberships/<%= memberships.id_membership %>"
                              ><button class="btn">MORE DETAILS</button></a>
                          </div>
                        </div>
          
                      <% }); %>

            </section>

        </main>
        <%- include ("../partials/footer") %>
</body>

</html>