<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

</head>

<body>
    <%- include ("../partials/header") %>
    <h1 class="main-title">
        Membership <%= membership.name %>
    </h1>
        <main>
         
            <div class="container">
                <div class="container-img">
                    <img class="img" src="/imgs/memberships/<%= membership.img %>" alt=" ">
                </div>

                              <div class="detalle">

                                <%= membership.details %>
                              </div> 
                              <div class="price"> $<%= membership.price %></div>
                            
                        <a href="/carrito/<%=membership.name%> "> <button class="btn">  I want to be a member </button> </a>
                        
            </div>
            
        </main>
        <%- include ("../partials/footer") %>




</html>