<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

</head>

<body>
    <%- include ("../partials/header") %>

        <main>
            <h1 class="main-title">
                <%= membership.name.toUpperCase() %>
            </h1>
            
            <div class="container">
                <div class="container-img">
                    <img src="/imgs/<%= membership.img %>" alt=" ">
                </div>




                <div class="container-detalle">
                    <h2>Included Services</h2>  

                    <% for (let i=0; i <=membership.services.length; i++) { %>
                        <li>
                            <%= membership.services[i]%>
                        </li>
                        <% } %>

                        <a href="/carrito"> <button class="btn">  I want to be a member </button> </a>
                </div>
            </div>

            <div class="container-detalle2">
                <h2>
                    <%= membership.details %>
                </h2>

            </div>
            
        </main>
        <%- include ("../partials/footer") %>




</html>