<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    
</head>

<body>
    <%- include ("../partials/header") %>

        <main>
            <h1>Memberships</h1>
            <br>
            <br>
            <section>

                <div class="products-container">
                    <% memberships.forEach(function(membership){ %>
             
                        <div class="product-card">
                          <img class="imgmember" src="imgs/<%= membership.img%>" />
                          <div class="product-info">
                            <p class="product-precio"> <%= membership.price %></p>
                            <p class="product-name"> <%= membership.name %></p>
                            <a href="/memberships/<%= membership.name %>"
                              ><button class="btn">MORE DETAILS</button></a>
                          </div>
                        </div>
          
                      <% }); %>

            </section>

        </main>
        <%- include ("../partials/footer") %>
</body>

</html>