<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/membership.css">
    <link rel="stylesheet" href="/css/index.css">
    
    <title>office</title>
</head>

<body>
    <%- include ("./partials/header") %>

    
    <main>
        <h1 class="main-title"> <%= producto.name %> </h1>
        <div class="container">
        
        <div class="container-img">
            <img src="/imgs/imagen4.jpg" alt=" ">
        </div>

        <div class="container-detalle2">
            <h2> <%= producto.details  %> </h2>
        </div>

        <div class="container-detalle">
            <h2>Included Services</h2>
            <ul>
                <% for (let i=0; i < services.length; i++) { %>
                    <li> <%= i %> </li>
                }
            </ul>
            
                
            

            <button>I want to be a member</button>

        </div>
    </div>
</main>
<%- include ("./partials/footer") %>

</body>

</html>