<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <!--header-->
    <%- include ("./partials/header") %>


    <main>

        <h1 class="main-title">BUY DETAILS</h1>


            <div class="container">

            <div class="info">
                          
                    <div  class="name"> <%= membership.name %>  </div>
                    <br>
                    <p><%= membership.details %> </p>
                    <br>

            
                    <div class="price"> $ <%= membership.price %>  </div>
                </div>
            

            <div class="div-total">
                <h2>TOTAL</h2>
                <div class="price"> $ <%= membership.price %></div>
                <a href="/toBuy"> <button class="btn">  BUY </button> </a>
            </div>
            

           
        </div>
        </main>

        

        <!--footer-->
        <%- include ("./partials/footer") %>

</body>

</html>