<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <!--header-->
    <%- include ("./partials/header") %>



        <h1 class="main-title">BUY DETAILS</h1>
        <br>

        <main class="carrito-container">



            <div><img class="carrito-img" src="/imgs/<%= membership.img %>  " alt=""></div>

            <div>
                <h3> <%= membership.name %>  </h3>
                <p><%= membership.details %> </p>
            </div>
            <div>
                <h2>PRICE</h2>
                <h3> <%= membership.price %>  </h3>
            </div>
            
        </main>

        <section class="section-total">
            <h2>TOTAL <%= membership.price %> </h2>
           <a href="/toBuy"> <button class="btn">BUY</button> </a>
        </section>

        <!--footer-->
        <%- include ("./partials/footer") %>

</body>

</html>