<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
      <!-- toastify -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link rel="stylesheet" href="/css/slider.css">

  </head>
  <body>

    <%- include("./partials/header") %>

    <main>
      <section class="containerSlider">

        <ul class="slider">
            <li class="slid" id="slide1">
                <img class="imgSlider" src="/imgs/slider/oficina1.jpg" />
            </li>
            <li class="slid" id="slide2">
                <img class="imgSlider" src="/imgs/slider/oficina2.jpg" />
            </li>
            <li class="slid" id="slide3">
                <h1>Welcome and discover a new way of working with us</h1>
                <p>We help companies and people to reconvert and personalize their
                  work spaces, giving them tools and services to develop in the best
                  ways.</p>
            </li>
        </ul>

        <ul class="menu">
            <li class="liMenu">
                <a class="numMenu" href="#slide1">1</a>
            </li>
            <li class="liMenu">
                <a class="numMenu" href="#slide2">2</a>
            </li>
            <li class="liMenu">
                <a class="numMenu" href="#slide3">3</a>
            </li>
        </ul>

    </section>
    
  <br><br><br><br>
  <br><br><br><br>

      <section id="section-products">
       <a href="/memberships"> <h2 class="sect2-title">Memberships </h2> </a>
       <br><br><br><br>
        <div class="products-container">

              <% memberships.forEach(function(memberships){ %>
             
                <div class="product-card">
                  <img class="imgmember" src="imgs/memberships/<%= memberships.img%>" />
                  <div class="product-info">
                    
                    <p class="product-precio"> $<%= memberships.price %></p>
                    <p class="product-name"> <%= memberships.name %></p>
                    <a href="/memberships/<%= memberships.id_membership %>"
                      ><button class="btn">MORE DETAILS</button></a>
                  </div>
                </div>
                <% }); %>

          </div>


         
      </section>
     
    </main>
    <%- include("./partials/footer") %>

  </body>
</html>
