<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/index.css" />
    <title>HOME</title>
  </head>
  <body>
    <%- include ("../partials/header") %>

    <section>
      <h2>Create membership</h2>
      <form
        action="/admin/create"
        method="POST"
        enctype="multipart/form-data"
        id="create"
      >
      

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Name"
            
            value=""
          />
        </div>
        <% if (locals.errors && locals.errors.title) { %>
          <span class="error-msg"><%= locals.errors.title.msg %></span>
          <% } %>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="details"
            placeholder="Details"
            
            value=""
          />
          <% if (locals.errors && locals.errors.details) { %>
            <span class="error-msg"><%= locals.errors.details.msg %></span>
            <% } %>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="services"
            placeholder="Services"
            value=""
          />
        </div>
        <% if (locals.errors && locals.errors.services) { %>
          <span class="error-msg"><%= locals.errors.services.msg %></span>
          <% } %>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            name="price"
            placeholder="Price $$"
            value=""
          />
        </div>
        <% if (locals.errors && locals.errors.price) { %>
          <span class="error-msg"><%= locals.errors.price.msg %></span>
          <% } %>

        <!--Aquí solicito la imagen-->
        <div class="custom-file">
          <input type="file" name="imgMembership"  id="imgMembership" />
        </div>
        <% if (locals.errors && locals.errors.imgMembership) { %>
          <span class="error-msg"><%= locals.errors.imgMembership.msg %></span>
          <% } %>
        <div class="form-group">
          <button type="submit" class="btn btn btn-info">Guardar</button>
          <a href="/admin" class="btn btn-danger">Volver</a>
        </div>
      </form>
    </section>
    <%- include ("../partials/footer") %>
  </body>
</html>
