<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FONTS -->
    <%- include ("../partials/links") %>
    <%- include ("../partials/head") %>

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/edit.css">
    <title>CREATE MEMBERSHIP</title>
  </head>
  <body>

    <%- include ("../partials/header") %>
    <main>
      <div class="container">
      <h2 class="title">Create membership</h2>



      <form
        action="/admin/create"
        method="POST"
        enctype="multipart/form-data"
        id="create"
      >
      <div id="erroresFront" class="erroresDeFront"></div>

        <div class="input-container ic1">
          <input
            type="text"
            class="input"
            name="name"
            value="<%= typeof old != 'undefined' ? old.name : '' %>"
          />
          <div class="cut"></div>
        <label for="name" class="placeholder">Name</label>
        </div>
        <% if (locals.errors && locals.errors.name) { %>
          <span class="error-msg"><%= locals.errors.name.msg %></span>
          <% } %>

        <div class="input-container">
          <input
            type="text"
            class="input"
            name="details"
            value="<%= typeof old != 'undefined' ? old.details : '' %>"
          />
          <div class="cut"></div>
        <label for="details" class="placeholder">Details</label>

        </div>
        <% if (locals.errors && locals.errors.details) { %>
          <span class="error-msg"><%= locals.errors.details.msg %></span>
          <% } %>
        <div class="input-container">
          <input
            type="textarea"
            class="input"
            name="services"
            value="<%= typeof old != 'undefined' ? old.services: '' %>"
          />
          <div class="cut"></div>
        <label for="services" class="placeholder">Services</label>
        </div>
        
        <% if (locals.errors && locals.errors.services) { %>
          <span class="error-msg"><%= locals.errors.services.msg %></span>
          <% } %>
        <div class="input-container">
          <input
            type="number"
            class="input"
            name="price"
            value="<%= typeof old != 'undefined' ? old.price : '' %>"
          />
          <div class="cut"></div>
        <label for="price" class="placeholder">Price</label>
        </div>
        <% if (locals.errors && locals.errors.price) { %>
          <span class="error-msg"><%= locals.errors.price.msg %></span>
          <% } %>

        <!--Aquí solicito la imagen-->
        <div class="custom-file">
          <input type="file" name="imgMembership"  id="imgMembership" />
        </div>
        <% if (locals.errors && locals.errors.imgMembership) { %>
          <span class="error-msg"><%= locals.errors.imgMembership.msg %></span>
          <% } %>
          <button type="submit" class="btn btn btn-info">Guardar</button>
          <a href="/admin" class="btn btn-danger">Volver</a>
      </form>
    </div>
    </main>
    <%- include ("../partials/footer") %>
     <!-- <script src="/js/create.js"></script> -->  
  </body>
</html>
