<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FONTS -->
    <%- include ("../partials/links") %>
    <%- include ("../partials/head") %>

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/edit.css">
    <title>HOME</title>
  </head>
  <body>

    <%- include ("../partials/header") %>

    <main>
        <div class="container">
            <h2 class="title">Edit membership <%= membershipAEditar[0].name %></h2>
            
            <form action="/admin/edit/<%= membershipAEditar[0].id_membership %>?_method=PUT" method="POST" enctype="multipart/form-data" id="create">


              <div class="input-container ic1">                        
                <input type="text" class="input" name="name"  required="required" value="<%= membershipAEditar[0].name %>">
                <div class="cut"></div>
        <label for="name" class="placeholder">Name</label>
              </div>	

                    <div class="input-container i-details">
                        <input type="text" class="input details" name="details"  required="required" value="<%= membershipAEditar[0].details%>">
                        <div class="cut"></div>
        <label for="details" class="placeholder">Details</label>
                    </div>


                    <div class="input-container">
                        <input type="text" class="input" name="services" required="required" value="<%= membershipAEditar[0].services%>">
                        <div class="cut"></div>
        <label for="services" class="placeholder">Services</label>
                    </div>
                    <div class="input-container">
                      <input type="number" class="input" name="price"  required="required" value="<%= membershipAEditar[0].price %>">
                      <div class="cut"></div>
                      <label for="price" class="placeholder">Price</label>
                  </div>

                    <!--Aquí solicito la imagen-->

                        <figure class="inputImg">
                            <img  class="imagenOld" src="/imgs/memberships/<%= membershipAEditar[0].img %>" alt=" <%= membershipAEditar[0].name%>">
                        </figure>
                        <input type="hidden"  name="oldImagen"  value="<%= membershipAEditar[0].img %>">
                       
                        <input type="file" name="imagen" style="height:30px; margin-top:10px"> 
                        <div class="cut"></div>
                      <label for="imagen" class="placeholder">Imagen</label>

                        
                    <div class="form-group">
                        <button type="submit" class="btn btn-info" style="margin-top:20px">Actualizar</button>
                      </div>
                      
                    </form>
                    <a href="/admin" ><button class="btn btn-info" style="margin-top:20px">Volver</button></a>
                  </div>
    </main>
    <%- include ("../partials/footer") %>

  </body>
</html>
