<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FONTS -->
    <%- include ("../partials/links") %>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/admin.css">
    <title>HOME</title>
  </head>
  <body>

    <%- include ("../partials/header") %>

    <main>
        <div class="container">
            <h2>Edit membership <%= membershipAEditar[0].name %></h2>
            
            <form action="/admin/edit/<%= membershipAEditar[0].id_membership %>?_method=PUT" method="POST" enctype="multipart/form-data" id="create">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="name" required="required" value="<%= membershipAEditar[0].name %>">
                    </div>	
                    <div class="form-group">
                        <input type="text" class="form-control" name="details" placeholder="details" required="required" value="<%= membershipAEditar[0].details%>">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="services" placeholder="Servicios" required="required" value="<%= membershipAEditar[0].services%>">
                    </div>
                    <div class="form-group">
                      <input type="number" class="form-control" name="price" placeholder="<%= membershipAEditar.price %>" required="required" value="<%= membershipAEditar[0].price %>">
                  </div>

                    <!--Aquí solicito la imagen-->
                    <div class="custom-file">
                        <figure class="form-group">
                            <img  class="w-100" src="/imgs/memberships/<%= membershipAEditar[0].img %>" alt=" <%= membershipAEditar[0].name%>">
                        </figure>
                        <input type="hidden"  name="oldImagen"  value="<%= membershipAEditar[0].img %>">
                       
                        <input type="file" name="imagen" >
                        
                      </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn btn-info">Actualizar</button>
                      </div>
                      
                    </form>
                    <a href="/admin" ><button class="btn btn btn-info">Volver</button></a>
            
    </main>
    <%- include ("../partials/footer") %>

  </body>
</html>
