<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS -->
    <%- include ("../partials/links") %>
    <%- include('../partials/head') %>

    
    
    <title>Edit Account</title>

</head>
<body>
    <div class="login">
        <div class="form-container">
            <a href="/"> <img src="../imgs/logo.png" alt="logo" class="logo"></a>

            <h1 class="title">My Account</h1>
            <p class="subtitle">Edit your account information</p>

            <form action="/edditAccount/<%=userEddit[0].id_users%>?_method=PUT" class="form" method="post">

                <label for="name" class="label">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name"
                class="input input-name" value="<%= userEddit[0].userName  %>">

                <label for="lastName" class="label">last Name</label>
                <input type="text" name="lastName" id="name" placeholder="Enter your name"
                class="input input-name" value="<%= userEddit[0].lastName  %>">

                <label for="email" class="label">Email address</label>
                <input type="email" name="email" id="email" placeholder="Enter your email adress" required
                class="input input-email" value="<%= userEddit[0].userEmail  %>">

                <label for="new-password" class="label"> New password</label>
                <input type="password" name="newPassword" id="new-password" placeholder="New password"
                class="input input-password" value="">

                <input type="submit" value="Edit" class="primary-button login-button">
            </form>
        </div>
    </div>
    <%- include ("../partials/footer") %>
</body>
</html>