<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>

  <div class="login">

    <div class="form-container">

      <a href="/">
        <h2 class="title">Discovery Coworking </h2>
      </a>

      <div id="erroresFront" class="erroresDeFront">

      </div>


      <form action="/login" method="post" class="form" id="form">

        <% if(typeof(errors) != 'undefined'){%>
          <p class="text-danger">
            <%= errors[0].msg %>
          </p>
          <%}%>

        <label for="email" class="label">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" class="input input-email"
          value="<%= typeof old != 'undefined' ? old.email : '' %>" />


        <% if (locals.errors && locals.errors.email) { %>
          <span class="error-msg">
            <%= locals.errors.email.msg %>
          </span>
          <% } %>



                  <label for="password" class="label">Password</label>
                  <input type="password" name="password" id="new-password" placeholder="Password"
                    class="input input-password" />



                  <% if (locals.errors && locals.errors.password) { %>
                    <span class="error-msg">
                      <%= locals.errors.password.msg %>
                    </span>
                    <% } %>




                      <div class="recordarme">
                        <input type="checkbox" name="recordarme" id="remember_me" />
                        <label class="checkbox-inline">
                          Remember me</label>
                      </div>

                      <button type="submit" class="primary-button signup-button">Ingresar</button>


      </form>


      <button class="secondary-button signup-button"><a href="/signin">Sign up</a></button>
    </div>
  </div>
  <script src="./js/login.js"></script>
</body>

</html>