<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <div class="login">
      <div class="form-container">
        <a href="/"> <img src="../imgs/logo.png" alt="logo" class="logo" /></a>

        <form action="/login" method="POST" class="form">
         
          <label for="email" class="label">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email adress"
            required
            class="input input-email"
            value="<%= typeof old != 'undefined' ? old.email : '' %>"
          />
          <% if (locals.errors && locals.errors.email) { %>
            <span class="error-msg"><%= locals.errors.email.msg %></span>
            <% } %>

          <label for="password" class="label">Password</label>
          <input
            type="password"
            name="password"
            id="new-password"
            placeholder="Password"
            class="input input-password"
            required
          />
          <% if (locals.errors && locals.errors.password) { %>
            <span class="error-msg"><%= locals.errors.password.msg %></span>
            <% } %> <% if(locals.error) { %>
            <span class="error-msg"><%= locals.error %></span>
            <% } %>
          <div>
            <input type="checkbox" name="remember_me" id="remember_me" /><label
              class="checkbox-inline">
              Remember me</label
            >
          </div>

          <input
            type="submit"
            value="Ingresar"
            class="primary-button login-button"
          />

          <a href="/">Forgot your password?</a>
        </form>

        <a href="/signin"><button class="secondary-button signup-button">Sign up</button> </a>
      </div>
    </div>
  </body>
</html>
