<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="./css/membershipDinamic.css">
</head>

<body>
    <!--header-->
    <%- include ("../partials/header") %>
        <% if (!locals.user || user.membership == null) { %>
            <main>
                <div class="shopp-container">
                    <img class="imgShopp" src="imgs/carritoVacio.png" alt="">

                    <p>¡You haven't bought any membership yet!</p>
                    <a href="/memberships">  <button class="boton"> Please select a membership </button></a>
                </div>
            </main>

 
            <% } else if (locals.user ) { %>
                <div class="shopp-container">
                    <div class="container">
                        <div class="containerOne">
                            <div class="current">Your current membership is <%= user.membership %></div>
                            <img class="imgShopp" src="/imgs/memberships/<%= memberships.membership + ".jpg"%>   " alt="">
                            <br><br>
                         
                        </div>
                           
                            <div class="containerTwo">
            
                                <a  href="/carrito/delete "> <button class="btn">Delete Membership</button> </a>
                                <a href="/memberships "> <button class="btn"> Back
                                </button>
                            </a>
                                    
                        </div>       
                    </div>
                  
                <% } %>



                    <!--footer-->
                    <%- include ("../partials/footer") %>

</body>

</html>